[submodule "src/TP3"]
	path = src/TP3
	url = https://github.com/UPB-FILS-ALF/TP3-Solutions
[submodule "src/TP4"]
	path = src/TP4
	url = https://github.com/UPB-FILS-ALF/TP4-Solutions
[submodule "src/TP5"]
	path = src/TP5
	url = https://github.com/UPB-FILS-ALF/TP5-Solutions
[submodule "src/TP6"]
	path = src/TP6
	url = https://github.com/UPB-FILS-ALF/TP6-Solutions
[submodule "src/TP7"]
	path = src/TP7
	url = https://github.com/UPB-FILS-ALF/TP7-Solutions
[submodule "src/TP8"]
	path = src/TP8
	url = https://github.com/UPB-FILS-ALF/TP8-Solutions
[submodule "src/TP9"]
	path = src/TP9
	url = https://github.com/UPB-FILS-ALF/TP9-Solutions
